* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

a{
  text-decoration: none;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
}

input:focus,
input:focus-visible {
  outline: none;
}

.img-container::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  opacity: 0.7;
}

.input-data:focus{
  border: 1px solid #f38e82 !important;
  background-color: #f9f5f3 !important;
  outline: none;
}

.error-input{
  border: 1px solid #ff6262 !important;
}

input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      }